
kiosk01/.vs/kiosk01/v15/Server/sqlite3/db.lock
.vs/kiosk1220/v16/.suo
kiosk1220/bin/Debug/kiosk1220.exe
kiosk1220/bin/Debug/kiosk1220.pdb
kiosk1220/obj/Debug/DesignTimeResolveAssemblyReferences.cache
kiosk1220/obj/Debug/kiosk1220.csproj.FileListAbsolute.txt
kiosk1220/obj/Debug/kiosk1220.csprojAssemblyReference.cache
kiosk1220/obj/Debug/DesignTimeResolveAssemblyReferences.cache
kiosk1220/obj/Debug/kiosk1220.csproj.FileListAbsolute.txt
kiosk1220/obj/Debug/kiosk1220.exe
kiosk1220/obj/Debug/kiosk1220.pdb
Shakerestaurant/.vs/Shakerestaurant/v16/.suo
kiosk1220/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/kiosk1220/v16/.suo
